body {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}  

header {

    background-color: red;

}



nav {

    background-color: green;

}


section {


    background-color: yellow;


}


#Eetu {


    background-color: tomato;


}

#Henri {
    width: 900px;
    height: 900px;
    color: blue;
    font-size: 90px;

    background-size: cover;
    background-image: url("Kuvakansio/MonsterE.jpg");

}


}


.row {


color: white;
background-color: black;


}


#toinen {


column-width: 100px;
float: left;
color: red;
background-color: green;


